//jquinn-launch.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.cea0a8dc-7849-4075-9672-d9673318b12b/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@recap:registry=https://jquinn-launch.usw-18.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.cea0a8dc-7849-4075-9672-d9673318b12b/contents/release/npm 